{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font md-4">Shopping Bag</h2>
            </div>
        </div>
        {% include 'includes/mobile-top-header.html' %}
        {% include 'includes/main-nav.html' %}
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <footer class="icon-wrapper">
        <i class="ri-instagram-line icon"></i>
        <i class="ri-facebook-circle-line icon"></i>
        <i class="ri-whatsapp-line icon"></i>
       </div>
   </footer>
{% endblock %}