{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
   
        {% include 'includes/mobile-top-header.html' %}
        {% include 'includes/main-nav.html' %}

    <div class="overlay"></div>
    <div class="container ">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font md-4">Meet your trainers</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <p class="text-muted">How can we help!</p>
                <form action="{% url 'team'%}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                                {% if search_term or current_categories or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'products' %}">Products</a> | </span>
                                {% endif %}
                                {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                 
        </div>
            <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                        
                            <img class="card-img-top img-fluid" h="/media/valeria-wellness.jpeg" alt="{Meet your trainers">                      
                        
                            <img class="card-img-top img-fluid" src="/media/hong-boxing.jpeg" alt="Meet your trainers">
                            
                        
                            <img class="card-img-top img-fluid" src="/media/pikx-crossFit.jpeg" alt="Meet your trainers">
                            
                        
                            <img class="card-img-top img-fluid" src="/media/elina-yoga.jpeg" alt="Meet your trainers">
                           
                        
                            <img class="card-img-top img-fluid" src="/media/hong-boxing.jpeg" alt="Meet your trainers">
                            
                        
                            <img class="card-img-top img-fluid" src="/media/li-fitness.jpeg" alt="Meet your trainers">
                            
                        
                            <img class="card-img-top img-fluid" src="/media/valeria-wellness.jpeg" alt="Meet your trainers">
                            
                        
                            <img class="card-img-top img-fluid" src="/media/oscar-Core.jpeg" alt="Meet your trainers">
                            
                        </div>
                    </div>
                </div>
        
                <div class="row col-sm-6">
                 <div class="container-fluid button rounded px-3 mb-5">
                    <a class="nav-link active" href="{% url 'account_signup' %}">Create an account</a> 
                    <a class="nav-link active" href="{% url 'account_login' %}">login</a>
                 </div>
                 </div>
        
    <footer>
        <div class="container-fluid footer-container-desktop d-none d-md-block col-12">
            <div class="row">
                <div class="icon-wrapper">>
                    <ul class="social-media-links"> 
                    <i class="ri-instagram-line icon"></i>
                    <i class="ri-facebook-circle-line icon"></i>
                    <i class="ri-whatsapp-line icon"></i>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}