/*Css sterling taking from tutorial*/
html {
    height: 100%;
}

body {
    background: url('/media/background/lloyd.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    color: #65707B;
}

.main-logo-link {
    width: fit-content;
    color: #65707B;
}
/* CUSTOM AUTOMATION BUTTON */
.shop-now-button {
    background: #65707B;
    color: white;
    min-width: 260px;
    border: 3px solid #304B43;
    border-radius: 5px;
}
.shop-now-button:hover {
    animation: pulsate 2s ease-in-out,
}
@keyframes pulsate {
    0%{
        box-shadow:
        0 0 25px #fbe0da,
        0 0 50px #C7CCD1;
    }
}

.btn-black {
    background: #65707B;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background:  whitesmoke;
    color: rgb(13, 13, 13); 
}

.text-black {
    color: rgb(16, 16, 16) !important;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: whitesmoke;
    z-index: -1;
}

a.category-badge > span.badge:hover {
    background-color: rgb(243, 255, 240) !important;
    /* color: red; */
}

.btt-button {
    height: 42px;
    width: 42px;
    position:fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

/* footer */

.icon-wrapper {
    display: inline-block;
    font-size: medium 44px;
    animation: float 5s ease-in-out infinite;
}
.ri-facebook-circle-line {
    animation-duration: 1s;
}
.ri-whatsapp-line {
    animation-duration: 2s;
}

@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}

/* .border-black {
    border: 1px solid black !important; 
}  */
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 180px;
    }
}
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }
    .body {
        height: calc(100vh- 116px);
    }
}