<div class="collapse navbar-collapse" id="main-nav">
    
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item list-inline-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Health 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="health-link">
                <a href="{% url 'products' %}" class="dropdown-item">Meal Plan</a>
                <a href="{% url 'products' %}" class="dropdown-item">Exercise routine</a>
                <!-- <a href="" class="dropdown-item">Nutrition</a> -->
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item list-inline-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Retail
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="retail-link">
                <a href="{% url 'products' %}" class="dropdown-item">Apparel</a>
                <a href="{% url 'products' %}" class="dropdown-item">Equipment</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li> 

        <li class="nav-item list-inline-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Subscription 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="subscription-link">
                <!-- <a href="" class="dropdown-item">All Products</a>
                <a href="" class="dropdown-item">Prices</a> -->
                <a href="{% url 'products' %}" class="dropdown-item">Coach</a>
                <a href="{% url 'products' %}" class="dropdown-item">Trainer</a>
            </div>
        </li>

        <li class="nav-item list-inline-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Specials Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-offers-link">
                <a href="{% url 'products' %}" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}" class="dropdown-item">Gift card</a>
                <a href="{% url 'products' %}" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}" class="dropdown-item">User stories</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                
            </div>
        </li>

        <li class="nav-item list-inline-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Product
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-itme">By Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item">By Prices</a>
                <a href="{% url 'products' %}" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">By Products</a>
            </div>
        </li>
    </ul>
</div>