{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
{% endblock %}
{% block page_header %}
<div class="container header-container">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font md-4">TEAM</h2>
                <hr>
            </div>
        </div>

        <div class="cards">
            <div class="card">
                <img alt="elina yoga trainer" src="/media/elina-yoga.jpeg"/>
            </div>
        </div>

        <div class="cards">
            <div class="card">
                <img alt="trainer" src="/media/hong-boxing.jpeg"/>
            </div>
        </div>

        <div class="cards">
            <div class="card">
                <img alt="trainer" src="/media/li-fitness.jpeg"/>
            </div>
        </div>

        <div class="cards">
            <div class="card">
                <img alt="trainer" src="/media/oscar-Core.jpeg"/>
            </div>
        </div>

        <div class="cards">
            <div class="card">
                <img alt="trainer" src="/media/pikx-crossFit.jpeg"/>
            </div>
        </div>

        <div class="cards">
            <div class="card">
                <img alt="trainer" src="/media/valeria-wellness.jpeg"/>
            </div>
        </div>
    </div>

    <footer class="icon-wrapper">
        <i class="ri-instagram-line icon"></i>
        <i class="ri-facebook-circle-line icon"></i>
        <i class="ri-whatsapp-line icon"></i>
       </div>
   </footer>
{% endblock %}

{% block content %}
{% endblock %}
