.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

/* if the item is invalid the box-text will display it as orange */
.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: 5rem;
}

#payment-form .form-control,
#card-element {
    color: #555;
    border: 1px solid #555;
}

select,
select option {
  color: #000000;
}

select:invalid,
select option[valid=""] {
  color: #aab7c4 !important;
}

/* Spinning loading animation */
.loading-overlay {
  display: none;
  /* position: fixed; */
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: 9999;

}
.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
}

.loading-spinner::before,
.loading-spinner:after {
  content: "";
  position: absolute;
  border-radius: inherit;
}

.loading-spinner:before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #ff00cc 0%, #333399 100%);
  animation: spin .5s infinite linear;
}
.loading-spinner:after {
  width: 85%;
  height: 85%;
  background-color: #151515;
  top: 50%;
  left: 50%;
  transform: translate(-50, -50%);
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
